{% extends 'holidays.html.twig' %}

{% block body %}

    <div class="row">
        <button type="button" class="btn btn-primary">Count <span data-id="users-count" class="badge">0</span></button>
        <table class="table">
            <thead>
            <td>Id</td>
            <td>UserName</td>
            <td>Actions</td>
            </thead>
            <tbody>
            {% if users is defined %}
                {% for user in users %}
                    <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>
                        <button type="button" data-id="{{ user.id }}" class="btn-success promote-user">
                            Assign admin
                        </button>
                    </td>
                {% endfor %}
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="/js/promoteUser.js" data-route="{{ path('admin_assign_user_role') }}"></script>
{% endblock %}