{% extends 'holidays.html.twig' %}

{% block body %}
{#    <p>#}
{#    <div>{{ post.title }}</div>#}
{#    <div>{{ post.body }}</div>#}
{#    </p>#}
{#    <hr/>#}
{#    <div>Created at: <span>{{ post.created | date }}</span></div>#}
{#    <div>Category: {{ post.category.name }}<span></span></div>#}
{% endblock %}