{% extends 'holidays.html.twig' %}

{% block body %}
  <div class="row">
      <a href="{{ path('admin_add_post') }}">Add new post</a>
      <a href="{{ path('admin_add_post') }}">Add new user</a>
  </div>
{% endblock %}